DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db_name
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MIGRATION_DIR=drizzle

SECRET_KEY=super-secret-key
REFRESH_KEY=super-secret-refresh-key

PORT=3000
